<div id="predefined-filters">
    <h3>Predefined filters:</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'naked_eye'}) }}" class="btn btn-primary">Naked Eye</a></div>
        <div class="col-lg-4 col-md-4"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'binoculars'}) }}" class="btn btn-primary">Binoculars</a></div>
        <div class="col-lg-4 col-md-4"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'small_telescope'}) }}" class="btn btn-primary">Small Telescope</a></div>
    </div>
</div>
