{% extends 'DsoHomeBundle:Home:base.html.twig' %}
{% block mainContent %}

<div class="container">
    <div class="profile">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Change your password: <a href="{{ path('fos_user_change_password') }}">Change</a></p>
    </div>
</div>

{% endblock %} {# <!-- end mainContent block --> #}
