# Symfony2 specific
###############################
/web/bundles/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/*
/vendor/*
/bin/*

# Git specific
###############################
/composer.lock

# Application specific
###############################
/ngcPhotos/
/web/css/*
/web/js/*

# PHPStorm specific
###############################
/.idea/*
