<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Florin Tiran">
    <link rel="shortcut icon" href="{{ asset('bundles/dsohome/images/ico/favicon.ico') }}">
    <title>{% block pageTitle %}Deep-Skies Home{% endblock %}</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    <!-- @see http://symfony.com/doc/current/cookbook/assetic/asset_management.html#including-css-stylesheets -->
    {% stylesheets
    'bundles/dsohome/css/*'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>

<body>
<div id="wrapper"  {% block wrapperClasses %}{% endblock %}>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        {% include 'top_nav.html.twig' %}
        {% block side_nav %}{% endblock %}
        </div>
    </nav>
    <div id="page-wrapper">
        {% block jumbotronBlock %} {% endblock %}
        {% block mainContent %}{% endblock %} {# end mainBlock #}
    </div>
</div>

<footer>
    {% include 'footer_details.html.twig' %}
</footer>

<!-- Placed at the end of the document so the pages load faster -->
{% block footer_javascripts %}
    {% javascripts
    '@DsoHomeBundle/Resources/public/js/jquery-2.1.0.min.js'
    '@DsoHomeBundle/Resources/public/js/bootstrap-core/*'
    '@TetranzSelect2EntityBundle/Resources/public/js/select2entity.js'
    '@DsoHomeBundle/Resources/public/js/custom.js' %}
    {#'@DsoHomeBundle/Resources/public/js/geolocation.js' TODO: check where I need to include this. #}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
