<p>Hello Florin,</p>
<p>You have new feedback regarding <strong>deep-skies.com</strong></p>
<p><strong><em>{{ name }}</em> ({{ email }})</strong> has sent you a bit of awesome feedback.</p>
<p><strong><em>Message:</em>{{ message }}</strong></p>
<p>Copyright ©2017 <a href="deep-skies.com">deep-skies.com</a> (Florin Tiran). All rights reserved.</p>
