{% extends 'base.html.twig' %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}
    <h2 class="text-center">Your message has been successfully sent.</h2>
    <h3 class="text-center">Thank you!</h3>
{% endblock %}
