body{
	background-color: #333;
	color: #fff;
  	text-align: center;
  	/*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  	/*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.jumbotron {
	background-color: #6559FF;
    margin-top: 50px;
    padding: 0;
}

.login {
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}

.page-header {
    border-bottom: none;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #2F2F2F;
}

footer p {
    padding-top: 15px;
}

/** Start sign in area styles */
#signin {
    margin-top: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/** End sign in area styles */

