<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><span class="obslog-title-section">OVERVIEW</span></li>
        <li><a href="#">Deep Sky Objects</a></li>
        <li><a href="#">Planets</a></li>
        <li><a href="#">Comets</a></li>
        <li><a href="#">Others</a></li>
    </ul>

    <ul class="nav nav-sidebar">
        <li><span class="obslog-title-section">ENTRIES</span></li>
        <li><a href="#">Log</a></li>
        <li><a href="{{ path('dso_observations_log_entries_view_logged') }}">View Logged</a></li>
        <li><a href="{{ path('dso_observations_log_entries_import_external') }}">Import external</a></li>
        <li><a href="#">Export</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class=""><span class="obslog-title-section">EQUIPMENT</span></li>
        <li><a href="">Telescopes</a></li>
        <li><a href="">Eyepieces</a></li>
        <li><a href="">Filters</a></li>
        <li><a href="">Others</a></li>
    </ul>
</div>
