{% set selectedClass = '' %}
{% if app.request.attributes.get('_route') == 'dso_observations_log_homepage' %}
    {% set selectedClass = 'selected' %}
{% endif %}

<ul id="active" class="nav navbar-nav side-nav">
    <li class="obs-log-menu-delimiter"></li>
    <li class="{% if app.request.attributes.get('_route') == 'dso_observations_log_homepage' %}selected{% endif %}">
        <a href="{{ path('dso_observations_log_homepage') }}"><i class="fa fa-bullseye"></i> Dashboard</a>
    </li>
    <li class="obs-log-menu-delimiter"></li>

    <li class="{% if app.request.attributes.get('_route') == 'dso_observations_log_log' %}selected{% endif %}">
        <a href="{{ path('dso_observations_log_log') }}"><i class="fa fa-star"></i> Log</a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'dso_observations_log_entries_view_logged' %}selected{% endif %}">
        <a href="{{ path('dso_observations_log_entries_view_logged') }}"><i class="fa fa-eye"></i> View Logged</a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'dso_observations_log_entries_import_external' %}selected{% endif %}">
        <a href="{{ path('dso_observations_log_entries_import_external') }}"><i class="fa fa-upload"></i> Import external</a>
    </li>
    {#<li><a href="#"><i class="fa fa-download"></i> Export</a></li>#}

    <li class="obs-log-menu-delimiter"></li>
    {#<li><a href="#"><i class="fa fa-tasks"></i> Comets</a></li>#}
    {#<li><a href="#"><i class="fa fa-list-ol"></i> Others</a></li>#}
    {#<li class="obs-log-menu-delimiter"></li>#}
</ul>
