{% extends 'base.html.twig' %}
{% block mainContent %}

    <div class="container">
        <div class="profile">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-signin">
                <h2 class="form-signin-heading text-center">Please sign up</h2>
                <div id="fos_user_registration_form">
                    <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" class="form-control" required="required" placeholder="Email">
                    <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" class="form-control" required="required" maxlength="255" pattern=".{2,}" placeholder="Username">
                    <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" class="form-control" required="required" placeholder="Password" style="margin-bottom: 0;">
                    <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" class="form-control" required="required" placeholder="Confirm password">
                    <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{ csrf_token('registration') }}">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign up">
                </div>
            </form>
        </div>
    </div>
{% endblock %} {# <!-- end mainContent block --> #}
