{% extends 'base.html.twig' %}
{% block mainContent %}
    <p><strong><em>HTTP status code</em></strong>:{{ code }}</p>
    <p><strong><em>Exception message</em></strong>:{{ message }}</p>
{% endblock %}
