{% extends 'DsoHomeBundle:Home:base.html.twig' %}
{% block jumbotronBlock %}
    <div class="jumbotron">
        <div class="container">
                <h1>Welcome to Deep-Skies.com</h1>
                <p class="lead">
                    A community of amateur astronomers passionate about deep sky objects.
                </p>
                <p class="lead">Available tools:</p>
                <ul>
                    <li>
                        <strong>Planner</strong> - a quick and easy to use tool for planning your observing sessions.
                    </li>
                    <li>
                        <strong>Observations Log</strong> - Save all your observations in one place, view log entries,
                        manage equipment, export data and more.
                    </li>
                </ul>
        </div>
    </div>
{% endblock %}