{% extends 'base.html.twig' %}
{% block pageHeader %} {% endblock %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}

    {% trans_default_domain 'FOSUserBundle' %}

    {% block fos_user_content %}
        <div id="signin" class="container" >
            <form action="{{ path("fos_user_security_check") }}" method="post" name="form" class="form-signin form-validation">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% if error %}
                    <div class="text-danger wrapper text-center">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <h2 class="form-signin-heading text-left">Please sign in</h2>
                <input type="text" name="_username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" name="_password" class="form-control" placeholder="Password" required>
                <label class="checkbox text-left">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block" name="_submit" type="submit">Sign in</button>
            </form>
        </div>
    {% endblock fos_user_content %}

{% endblock %} {# <!-- end mainContent block --> #}
