{% extends 'base.html.twig' %}
{% block mainContent %}
    <p><strong><em>{{ name }}</em></strong> has sent you a bit of awesome feedback.</p>
    <p><strong><em>Message:</em>{{ message }}</strong></p>
{% endblock %}
