{% extends 'DsoHomeBundle:Home:base.html.twig' %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}
    <h2>Your message has been successfully sent.</h2>
    <h3>Thank you!</h3>
{% endblock %} {# <!-- end mainContent block --> #}